
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="ilanver" id="home">
    <div class="container">
        <div class="contact-box">
            <div class="left"><img class="left-img" src="~/Content/images/about-banner-1.jpg" alt="Alternate Text" /></div>
            <div class="right">
                <h2 class="ilanver-title">İlan Ver</h2>
                <form action="/Icerikler/Create" method="post" enctype="multipart/form-data">
                    <input name="Isim" type="text" class="field" placeholder="Adı" required>
                    <input name="Tur" type="text" class="field" placeholder="Tür" required>
                    <input name="CinsID" type="text" class="field" placeholder="Cinsi" required>
                    <input name="Yas" type="text" class="field" placeholder="Yaş" required>
                    <input name="Cinsiyet" type="text" class="field" placeholder="Cinsiyeti" required>
                    <input name="Renk" type="text" class="field" placeholder="Renk" required>
                    <input name="SahiplendirmeDurumu" type="text" class="field" placeholder="Durum" required>
                    <input name="ImgURL" type="file" class="field" placeholder="resim" accept=".jpg,.png,.jpeg">
                    <textarea name="Açıklama" type="text" class="field" placeholder="Açıklama" required></textarea>
                    <button class="btn" type="submit">İlan Ver</button>
                </form>
            </div>
        </div>
    </div>
</section>
