@{
    ViewBag.Title = "VerifyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="verify">
    <div class="container">
        <div class="verify-box">
            @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
            {
                <div>
                    <Strong>Onaylama işlemi Başarılı Giriş yapabilirsiniz</Strong>
                </div>
            }
            else
            {
                <div>
                    <Strong>Onaylama işlemi Başarısız Giriş yapabilirsiniz</Strong>
                </div>
            }
        </div>
    </div>
</div>