@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <section class="anasayfa" id="home">
        <div class="container">
            <p class="section-subtitle">
                <h2> SayipsizDostlara Hoşgeldiniz</h2>
            </p>
            <h2 class="h1 anasayfa-title">
                <strong>Hayvan dostlarımız</strong> sahiplendirmeyi bekliyor
            </h2>
            @if (ViewBag.Giris != null)
            {
                <p>@ViewBag.Giris</p>
            }
            <p class="anasayfa-text">
                Evlerimizde beslediğimiz küçük dostlarımzı satmak yerine sahiplendirmek istiyoruz. Bu yüzden böyle bir platform oluşturduk.
                Bizlere destek olmak ve hayvan dostlarımıza sahip çıkmak için lütfen satın almak yerine sahiplendirme yapınız. Bunun için bize katılabilirsiniz.
            </p>
            <br />
            <button class="btn btn-primary">
                <span>Kayıt Ol</span>
            </button>
        </div>
    </section>

    <!-- features -->
    <section class="section features">
        <div class="container">
            <ul class="features-list">
                <li class="features-item">
                    <div class="item-icon">
                        <ion-icon name="shield-checkmark-outline"></ion-icon>
                    </div>
                    <div>
                        <h3 class="h4 item-title">Güvenli Bir Yuva</h3>
                        <p class="item-text">
                            Küçük dostlarımıza güvenli yuvalar verelim.
                        </p>
                    </div>
                </li>
                <li class="features-item">
                    <div class="item-icon">
                        <ion-icon name="medkit-outline"></ion-icon>
                    </div>
                    <div>
                        <h3 class="h4 item-title">Sağlıklı Bir yuva</h3>
                        <p class="item-text">
                            Küçük dostlarımızın sağlıkları için elimizden
                        </p>
                    </div>
                </li>
                <li class="features-item">
                    <div class="item-icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </div>
                    <div>
                        <h3 class="h4 item-title">Bir Ev </h3>
                        <p class="item-text">
                            Yaşayabilecekleri sıcak bir yuva verelim.
                        </p>
                    </div>
                </li>
                <li class="features-item">
                    <div class="item-icon">
                        <ion-icon name="fish-outline"></ion-icon>
                    </div>
                    <div>
                        <h3 class="h4 item-title">Bir kap yemek</h3>
                        <p class="item-text">
                            Yaşayabilecekleri sıcak bir yuva verelim.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- about -->

    <section class="section about" id="about">
        <div class="container">
            <div class="about-banner">
                <h2 class="deco-title">Hakkımızda</h2>
                <img src="/Content/images/deco-img.png" width="58" height="261" alt="" class="deco-img">

                <div class="banner-row">
                    <div class="banner-col">
                        <img src="/Content/images/dog.jpg" width="315" height="380" loading="lazy"class="about-img w-100">
                        <img src="/Content/images/cats.jpg" width="386" height="250" loading="lazy" class="about-img about-img-2 w-100">
                    </div>
                    <div class="banner-col">
                        <img src="/Content/images/slogan2.jpg" width="250" height="277" loading="lazy" class="about-img about-img-3 w-100">

                        <img src="/Content/images/about-banner-4.jpeg" width="315" height="380" loading="lazy" class="about-img w-100">
                    </div>
                </div>
            </div>
            <div class="about-content">
                <p class="section-subtitle">
                    <img src="/Content/images/subtitle-img-green.png" width="32" height="7" alt="Wavy line">

                    <span>Neden bizi tercih etmelisiniz</span>
                </p>

                <h2 class="h2 section-title">
                    Hayvanlar birer eşya değildir <strong>satılıp alınmamalılar.</strong>
                </h2>
                <br />
                <div class="tab-content" data-text-mission>
                    <p class="section-text">
                        Günümüzde ülkemizde de yaygınlaşan hayvan besleme alışkanlığı ile birçok sahipsiz hayvana bir yuva bulabiliriz. 
                        Pet shoplarda gerçekleştirilen hayvan ticaretlerinin etik olmamasından kaynaklı olarak küçük dostlarımızı birer
                        eşya gibi alıp satarak ticaret yapmak yerine olara sıcak birer yuva bulmak çok daha iyi. 
                    </p>
                    <ul class="tab-list">
                        <li class="tab-item">
                            <div class="item-icon">
                                <ion-icon name="checkmark-circle"></ion-icon>
                            </div>
                            <p class="tab-text">Satın almak yerine sahiplenmeliyiz</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- CTA -->
    <section class="section cta">
        <div class="container">
            <div class="cta-content">
                <h2 class="h2 section-title">324+ Trusted Global Partners</h2>
                <button class="btn btn-outline">
                    <span>Become a Partner</span>
                    <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                </button>
            </div>
            <figure class="cta-banner">
                <img src="/Content/images/cta-banner.jpg" width="520" height="228" loading="lazy" alt="Fox"
                     class="img-cover">
            </figure>
        </div>
    </section>

    <!-- services -->
    <section class="section service" id="service"
             style="background-image: url('./Content/images/service-map.png')">
        <div class="container">

            <p class="section-subtitle">
                <img src="/Content/images/subtitle-img-green.png" width="32" height="7" alt="Wavy line">

                <span>What We Do</span>
            </p>

            <h2 class="h2 section-title">
                We Work Differently to <strong>keep The World Safe</strong>
            </h2>

            <ul class="service-list">

                <li>
                    <div class="service-card">

                        <div class="card-icon">
                            <ion-icon name="leaf-outline"></ion-icon>
                        </div>

                        <h3 class="h3 card-title">Save Nature</h3>

                        <p class="card-text">
                            Tempor incididunt ut labores
                            dolore magna suspene
                        </p>

                        <a href="#" class="btn-link">
                            <span>Read More</span>

                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="service-card">

                        <div class="card-icon">
                            <ion-icon name="earth-outline"></ion-icon>
                        </div>

                        <h3 class="h3 card-title">Save Ecology</h3>

                        <p class="card-text">
                            Tempor incididunt ut labores
                            dolore magna suspene
                        </p>

                        <a href="#" class="btn-link">
                            <span>Read More</span>

                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="service-card">

                        <div class="card-icon">
                            <ion-icon name="flower-outline"></ion-icon>
                        </div>

                        <h3 class="h3 card-title">Tree Plantation</h3>

                        <p class="card-text">
                            Tempor incididunt ut labores
                            dolore magna suspene
                        </p>

                        <a href="#" class="btn-link">
                            <span>Read More</span>

                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="service-card">

                        <div class="card-icon">
                            <ion-icon name="boat-outline"></ion-icon>
                        </div>

                        <h3 class="h3 card-title">Clear Ocean</h3>

                        <p class="card-text">
                            Tempor incididunt ut labores dolore magna suspene
                        </p>
                        <a href="#" class="btn-link">
                            <span>Read More</span>
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- TESTIMONIALS -->

    <section class="testi">

        <div class="testi-content">

            <p class="section-subtitle">
                <img src="/Content/images/subtitle-img-green.png" width="32" height="7" alt="Wavy line">

                <span>Görüşlerimiz</span>
            </p>

            <h2 class="h2 section-title">
                İnsanlar organizasyonumuz hakkında neler düşünüyor? <strong>İşte bazı görüşler</strong>
            </h2>

            <div class="testi-card">
                <div>
                    <blockquote class="testi-text">
                        Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque
                        laudantium totam rem
                        aperiam eaquesa
                        quae abillo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo
                        enimpsam voluptatem
                    </blockquote>

                    <h3 class="testi-name">David S. Neuman</h3>

                    <p class="testi-title">Business Manager</p>
                </div>
            </div>
        </div>

        <figure class="testi-banner">
            <img src="/Content/images/test.jpg" width="960" height="846" loading="lazy" alt="Rhinoceros"
                 class="img-cover">
        </figure>
    </section>

    <!-- PARTNER -->

    <section class="section partner">
        <div class="container">

            <a href="#" class="partner-logo">
                <img src="/Content/images/partner-1.png" width="157" height="55" loading="lazy"
                     alt="Children Fund" class="gray">

                <img src="/Content/images/partner-1-active.png" width="157" height="55" loading="lazy"
                     alt="Children Fund" class="color">
            </a>

            <a href="#" class="partner-logo">
                <img src="/Content/images/partner-2.png" width="163" height="55" loading="lazy"
                     alt="Non Profit Agency" class="gray">

                <img src="./Content/images/partner-2-active.png" width="163" height="55" loading="lazy"
                     alt="Non Profit Agency" class="color">
            </a>

            <a href="#" class="partner-logo">
                <img src="/Content/images/partner-3.png" width="149" height="55" loading="lazy"
                     alt="Rise Hand Help Us" class="gray">

                <img src="/Content/images/partner-3-active.png" width="149" height="55" loading="lazy"
                     alt="Rise Hand Help Us" class="color">
            </a>

            <a href="#" class="partner-logo">
                <img src="/Content/images/partner-4.png" width="169" height="58" loading="lazy" alt="Helping"
                     class="gray">

                <img src="/Content/images/partner-4-active.png" width="169" height="58" loading="lazy"
                     alt="Helping" class="color">
            </a>

            <a href="#" class="partner-logo">
                <img src="/Content/images/partner-5.png" width="211" height="55" loading="lazy"
                     alt="Poor Fund Organization" class="gray">

                <img src="/Content/images/partner-5-active.png" width="211" height="55" loading="lazy"
                     alt="Poor Fund Organization" class="color">
            </a>
        </div>
    </section>

</article>